* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: rgb(237, 209, 254);
  --secondary-color: rgb(166, 42, 243);
  --third-color: rgb(239, 225, 248);
}
#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#header {
  background-color: var(--primary-color);
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
#logo {
  font-weight: bolder;
  font-size: 2rem;
  padding: 4px 8px;
  cursor: pointer;
}
#logo:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
#outlet {
  padding: 10px;
}
#footer {
  background-color: var(--primary-color);
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.signup-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-header {
  text-align: center;
  padding-bottom: 15px;
}
input {
  border-radius: 10px;
  padding: 5px 8px;
  border: 3px solid var(--secondary-color);
}
.form-container {
  border: 1.5px solid var(--secondary-color);
  border-radius: 5px;
  padding: 8px 16px;
  width: max-content;
  background-color: var(--third-color);
}
.form-page {
  display: flex;
  justify-content: center;
}
.btn {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bolder;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.post-card {
  border: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 10px;
}
.post-title {
  border-bottom: 1px solid var(--secondary-color);
}
.post-date {
  align-self: self-end;
}

#password-error {
  color: red;
}
